@keyframes fadeInLoadingPageContainer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInZ {
  0% {
    opacity: 0;
    transform: translateY(-100px) translateZ(200px) scale(2);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateZ(0) scale(1);
  }
}

.loadingPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  animation: fadeInLoadingPageContainer 2s ease-in-out;
  background-color: rgb(78, 77, 77);
  flex-direction: column;
  perspective: 1000px;
}

.loadingPageFavicon {
  width: 300px;
  height: auto;
  background-color: transparent;
  animation: slideInZ 2s forwards;
  position: fixed;
  top: 20%;
}
