// header

.navbar-brand {
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 0.5em 1em; /* 추가적인 패딩을 넣어 클릭 영역을 키웁니다. */
  border-radius: 5px; /* 모서리를 둥글게 합니다. */
}

.navbar-brand:hover {
  color: black;
  background-color: lightgray;
}

//main

.firstPageMaincontainer {
  border: 1px solid gray;
  width: 100%;
  height: 100vh;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("/backgroundImg.jpg");
  background-size: cover; /* 크기에 맞게 이미지 조정 */
  background-repeat: no-repeat;
  background-position: center;
}
.buttonContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  transition: background-color 0.3s ease;
}

.buttonContainer:hover {
  background-color: gray;
}

.chatRoomButtonContainer {
  margin-top: 10px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.chatRoomButtonContainer:hover {
  background-color: rgb(198, 195, 195);
}

.chatRoomButton {
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;

  border: none;
  background-color: rgb(217, 236, 47);
}
.chatRoomButton img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 0;
}

//footer
.firstPageFooterDiv {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(33, 32, 32);
  z-index: 1001;
  padding: 0;
  margin: 0;
}

//sidebar
.sidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* 슬라이드바 아래에 위치 */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.overlayShow {
  visibility: visible;
  opacity: 1;
}

.homeSidebar {
  position: absolute;
  background-color: white;
  padding: 10px;

  right: -300px; /* 초기 위치를 화면 밖으로 설정 */
  height: 100vh;
  width: 300px;
  top: 0px;
  z-index: 1010;
  opacity: 0;

  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease, right 0.5s ease; /* right 속성에 대한 전환 효과 추가 */
  border: none;
  display: none; /* 초기에는 표시하지 않음 */
}

.homeSidebarShow {
  right: 0;
  opacity: 1;
  visibility: visible;
  display: flex; /* 보이도록 설정 */
  flex-direction: column;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.nav-item {
  width: 100%;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link {
  padding-left: 0;
  width: 100%;
  text-align: left;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link:hover {
  background-color: skyblue !important;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.nav-item {
  width: 100%;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link {
  padding-left: 0;
  width: 100%;
  text-align: left;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link:hover {
  background-color: skyblue !important;
}

//chatroomlist
.chatBox {
  width: 100%;

  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.chatBox:last-child {
  margin-bottom: 0;
}

.container {
  padding-bottom: 10px; /* 부모 요소에 패딩 추가 */
}

.chatRow {
  transition: background-color 0.3s ease;
}

.chatRow:hover {
  background-color: grey;
}

.chatRoomButton {
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  height: 100%;
}

.chatRoomButton img {
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

//createchatroommodal
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.4s, opacity 0.5s;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modalContainer {
  z-index: 1011;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.4s, opacity 0.5s;
}

.modalContainer.modalContainerShow {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #1e90ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  cursor: pointer; /* 추가: 커서 모양 변경 */
  position: relative; /* 추가: 파일 입력 요소를 포함하기 위해 */
}

.icon input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.icon::before {
  content: "\1F4F7"; /* 카메라 아이콘 */
  font-size: 2rem;
  color: white;
}

.modal-body {
  width: 100%;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
}

.input-group input:focus {
  border-color: #1e90ff;
  outline: none;
}

.modal-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-footer button {
  background: none;
  border: none;
  color: #1e90ff;
  font-size: 1rem;
  cursor: pointer;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
}

.modal-footer button:first-child {
  margin-right: 10px;
}

.channelNameContainer {
  position: relative;
  margin-top: 30px;
  width: 100%;
}

.channelInput {
  border: none;
  border-bottom: 1px solid #aaa;
  outline: none;
  padding: 10px 10px 5px 0px;
  width: 100%;
  font-size: 16px;
  transition: border-color 1s ease;
}

.channelInput:focus {
  border-bottom: 2px solid blue;
}

.channelInput:focus::placeholder {
  color: transparent;
}

.descriptionInputBox {
  border: none;
  border-bottom: 1px solid #aaa;
  outline: none;
  padding: 10px 10px 5px 0px;
  width: 100%;
  font-size: 16px;
  transition: border-color 1s ease;
}

.descriptionInputBox:focus {
  border-bottom: 2px solid blue;
}

.descriptionInputBox:focus::placeholder {
  color: transparent;
}
