.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 30px;
  padding-right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: visibility 0.4s, opacity 0.5s;
  z-index: 1001; /* 오버레이보다 위에 위치하도록 설정 */
  visibility: hidden;
  opacity: 0;
  border: none;
}

.sidebar.show {
  visibility: visible;
  opacity: 1;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.sliderbar-box {
  margin-top: 30px;
  padding: 10px;
}

.profileImg {
}
