.sidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* 슬라이드바 아래에 위치 */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.overlayShow {
  visibility: visible;
  opacity: 1;
}

.homeSidebar {
  background-color: white;
  padding: 10px;

  position: absolute;
  height: 100vh;
  width: 300px;
  left: -400px; /* 초기 위치를 화면 밖으로 설정 */
  top: 0px;
  z-index: 1010;
  opacity: 0;
  transition: left 1s ease, opacity 1s ease;
  border: none;
}
.show {
  opacity: 1;
  left: 0px; /* 보여질 때의 위치 설정 */
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.nav-item {
  width: 100%;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link {
  padding-left: 0;
  width: 100%;
  text-align: left;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link:hover {
  background-color: skyblue !important;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.nav-item {
  width: 100%;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link {
  padding-left: 0;
  width: 100%;
  text-align: left;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link:hover {
  background-color: skyblue !important;
}
