* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "bootstrap/dist/css/bootstrap.min.css";
@import "./component/loginpage/loginpage.scss";
@import "./component/layoutComponent/layoutComponent.scss";
@import "./component/modalComponent/modalComponent.scss";
@import "./component/sidebarComponent/sidebarComponent.scss";
@import "./component/chatRoomComponent/chatRoomComponent.scss";
@import "./component/leftComponent/leftComponent.scss";
@import "./component/headerComponent/headerComponent.scss";
@import "./component/chatRoomListComponent/chatRoomListComponent.scss";
@import "./component/chatRoomHeaderComponent/chatRoomHeaderComponent.scss";
