/* styles/globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

body.modal-open {
  padding-right: 0 !important; /* 강제로 padding-right를 0으로 설정 */
}
@media (max-width: 600px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* 추가: 최소 높이를 전체 화면 높이로 설정 */
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
//부트스트랩
@import "bootstrap/dist/css/bootstrap.min.css";

// loginpage
@import "../loginpage/style/loginPage.scss";

// first page
@import "../firstPageComponent/style/firstPage.scss";

// chatroompage
@import "../chatroompage/[id]/style/ChatRoomPage.scss";

//loadingPage
@import "../loadingpage/style/loadingPage.scss";
