// header

.navbar-brand {
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 0.5em 1em; /* 추가적인 패딩을 넣어 클릭 영역을 키웁니다. */
  border-radius: 5px; /* 모서리를 둥글게 합니다. */
}

.navbar-brand:hover {
  color: black;
  background-color: lightgray;
}

//main

.firstPageMaincontainer {
  border: 1px solid gray;
  width: 100%;
  height: 100vh;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("/backgroundImg.jpg");
  background-size: cover; /* 크기에 맞게 이미지 조정 */
  background-repeat: no-repeat;
  background-position: center;
}
.buttonContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  transition: background-color 0.3s ease;
}

.buttonContainer:hover {
  background-color: gray;
}

.chatRoomButtonContainer {
  margin-top: 10px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.chatRoomButtonContainer:hover {
  background-color: rgb(198, 195, 195);
}

.chatRoomButton {
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;

  border: none;
  background-color: rgb(217, 236, 47);
}
.chatRoomButton img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 0;
}

//footer
.firstPageFooterDiv {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(33, 32, 32);
  z-index: 1001;
  padding: 0;
  margin: 0;
}

//sidebar
.sidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* 슬라이드바 아래에 위치 */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.overlayShow {
  visibility: visible;
  opacity: 1;
}

.homeSidebar {
  position: absolute;
  background-color: white;
  padding: 10px;

  right: -300px; /* 초기 위치를 화면 밖으로 설정 */
  height: 100vh;
  width: 300px;
  top: 0px;
  z-index: 1010;
  opacity: 0;

  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease, right 0.5s ease; /* right 속성에 대한 전환 효과 추가 */
  border: none;
  display: none; /* 초기에는 표시하지 않음 */
}

.homeSidebarShow {
  right: 0;
  opacity: 1;
  visibility: visible;
  display: flex; /* 보이도록 설정 */
  flex-direction: column;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.nav-item {
  width: 100%;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link {
  padding-left: 0;
  width: 100%;
  text-align: left;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link:hover {
  background-color: skyblue !important;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.nav-item {
  width: 100%;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link {
  padding-left: 0;
  width: 100%;
  text-align: left;
  height: 50px; /* 높이를 동일하게 설정 */
}

.nav-link:hover {
  background-color: skyblue !important;
}

//chatroomlist
.chatBox {
  width: 100%;

  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.chatBox:last-child {
  margin-bottom: 0;
}

.container {
  padding-bottom: 10px; /* 부모 요소에 패딩 추가 */
}

.chatRow {
  transition: background-color 0.3s ease;
}

.chatRow:hover {
  background-color: grey;
}

.chatRoomButton {
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  height: 100%;
}

.chatRoomButton img {
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
