/* Sidebar CSS */
.headerSidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  position: absolute;
  height: 100vh;
  width: 300px;
  right: -200px; /* 초기 위치를 화면 밖으로 설정 */
  top: 0px;
  z-index: 1010;
  opacity: 0;
  visibility: hidden; /* 초기 상태에서 숨김 */
  transition: right 1s ease, opacity 1s ease, visibility 1s; /* visibility에 대한 전환 효과 추가 */
  cursor: default;
}

.headerSidebarShow {
  right: 0; /* show 클래스가 추가되면 오른쪽 끝으로 이동 */
  opacity: 1;
  visibility: visible; /* 보이도록 설정 */
}

.imageGrid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  border-bottom: 1px solid gray;
}

.imageGrid .imageBox {
  margin: 0;
  padding: 0px;
  width: 25%;
  box-sizing: border-box;
  display: flex;

  align-items: start;
}

.participantInfoDiv {
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.participantInfoDiv:hover {
  background-color: gray;
}

.infoChatDiv {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dee2e6;
  width: 50%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.infoChatDiv:hover {
  background-color: rgb(196, 194, 194);
}
